* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: rgb(35, 35, 35);
}
.main__box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgb(83, 82, 82);
  margin: auto;
  padding: 70px 20px 30px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 10px rgb(64, 63, 50);
}
.main__form {
  position: relative;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 30px;
}
.main__speed {
  position: absolute;
  top: 5px;
  left: 8px;
}
.main__change-box {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  background-color: rgb(106, 106, 106);
  padding: 3px 8px;
  border-radius: 4px;
  border: 2px solid rgb(106, 106, 106);
}
.main__changer {
  position: absolute;
  top: 60px;
  right: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  background-color: rgb(50, 50, 50);
  padding: 20px 10px;
  z-index: 4;
  border: 1px solid rgb(23, 141, 195);
  border-radius: 4px;
  display: none;
}
.main__text-span {
  width: 65px;
}
.main__changer-input {
  width: 50px;
  outline: none;
  border: none;
  border-radius: 2px;
  padding: 4px;
  font-family: "Open Sans";
}
.main__changer-set {
  padding: 5px;
  width: 70px;
  border: none;
  border-radius: 2px;
  background-color: rgb(39, 185, 39);
  color: white;
  font-family: "Open Sans";
}
.main__changer-items {
  display: flex;
  gap: 4px;
}
.main__change-icon {
  width: 40px;
  height: 40px;
  color: white;
}
.main__span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 4px;
  background-color: rgb(23, 141, 195);
  border-radius: 2px;
}
.main__cards {
  display: flex;
  gap: 10px;
}
.main__icons {
  width: 40%;
  height: 40%;
}
.main__items {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 10px;
  border-radius: 4px;
  border: 1px solid rgb(23, 141, 195);
  background-color: rgb(98, 98, 98);
}
.main__title {
  font-family: "Open Sans";
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.main__text {
  display: flex;
  gap: 5px;
  align-items: center;
  font-family: "Open Sans";
  font-size: 17px;
  color: rgb(255, 255, 255);
}
.main .message {
  position: absolute;
  top: -20px;
}
.main__input {
  outline: none;
  padding: 4px 3px;
  border: 1px solid rgb(23, 141, 195);
  border-radius: 3px;
  height: 40px;
  width: 300px;
  font-family: "Open Sans";
}
.main__submit-button {
  padding: 15px 25px;
  border: none;
  font-family: "Open Sans";
  border-radius: 4px;
  background-color: rgb(39, 185, 39);
  color: white;
}
.main__submit-button:hover {
  opacity: 0.7;
}
.main__submit-button:active {
  opacity: 1;
}

@media (max-width: 600px) {
  .main {
    padding: 10px;
  }
  .main__form {
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
  .main__submit-button {
    width: 100%;
    padding: 10px;
  }
  .main__input {
    height: 40px;
    width: 100%;
    font-size: 20px;
  }
  .main__cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main__items {
    width: 100%;
    flex-direction: row;
    justify-content: start;
    height: 60px;
    padding: 50px 10px;
  }
  .main__icons {
    width: 30px;
    height: 30px;
  }
  .main__title {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */